<div class="wrapper">


  <!-- ClientCommonHeaderWrapper GOES HERE -->
  <client-header-wrapper-selector></client-header-wrapper-selector>



  <div class="profile-content section-nude">
    <div class="container">


      <!-- ClientProfileAvatar GOES HERE -->
      <client-profile-avatar-selector></client-profile-avatar-selector>


      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">

        </div>
      </div>
      <div class="profile-tabs">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
              <li class="active"><a href="#follows" data-toggle="tab">Follows</a></li>
              <li><a href="#following" data-toggle="tab">Following</a></li>
              <!-- <li><a href="#following" data-toggle="tab">Following</a></li> -->
            </ul>
          </div>
        </div>
        <div id="my-tab-content" class="tab-content">
          <div class="tab-pane active" id="follows">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <ul class="list-unstyled follows">
                  <li>
                    <div class="row">
                      <div class="col-md-2 col-md-offset-0 col-xs-3 col-xs-offset-2">
                        <img src="../assets/img/producer_male_young.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                      </div>
                      <div class="col-md-7 col-xs-4">
                        <h6>Παναγιώτης Τσάμπος<br /><small>Παραγωγός Σούμας</small></h6>
                      </div>
                      <div class="col-md-3 col-xs-2">
                        <div class="unfollow" rel="tooltip" title="Unfollow">
                          <label class="checkbox" for="checkbox1" >
                            <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox" checked>
                          </label>
                        </div>
                      </div>
                    </div>
                  </li>
                  <hr />
                  <li>
                    <div class="row">
                      <div class="col-md-2 col-md-offset-0 col-xs-3 col-xs-offset-2">
                        <img src="../assets/img/producer_female_young.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                      </div>
                      <div class="col-md-7 col-xs-4">
                        <h6>Μαριλίζα Μπαλτάκου<br /><small>Παραγωγός Ρακής</small></h6>
                      </div>
                      <div class="col-md-3 col-xs-2">
                        <div class="unfollow" rel="tooltip" title="Unfollow">
                          <label class="checkbox" for="checkbox1" >
                            <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox" checked>
                          </label>
                        </div>
                      </div>
                    </div>
                  </li>
                  <hr />
                  <li>
                    <div class="row">
                      <div class="col-md-2 col-md-offset-0 col-xs-3 col-xs-offset-2">
                        <img src="../assets/img/producer_male_old.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                      </div>
                      <div class="col-md-7 col-xs-4">
                        <h6>Γιώργος Παπαδόπουλος<br /><small>Παραγωγός Τσίπουρου</small></h6>
                      </div>
                      <div class="col-md-3 col-xs-2">
                        <div class="unfollow" rel="tooltip" title="Unfollow">
                          <label class="checkbox" for="checkbox1" >
                            <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox" checked>
                          </label>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-pane text-center" id="following">
            <h3 class="text-muted">Not following anyone yet </h3>
<!--
            <btn class="btn btn-warning btn-fill">Find artists</btn>
-->
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
