<div class="section section-nude">
  <div class="container">

    <div class="row">

      <div class="col-md-12" *ngIf="cartItemsCounter > 0">

        <div class="text-justify" *ngIf="cartItemsCounter > 0">

          <div class="shoping-cart-checkout-producer-text">

              <h5 class="sc-title">

                <span class="sc-link" [routerLink]="['/producer', cart.shopingCartProducerOwnsTheProducts.producerID]">
                  <i class="ti-user"> </i>
                  Παραγωγός: {{cart.shopingCartProducerOwnsTheProducts.firstName}} {{cart.shopingCartProducerOwnsTheProducts.lastName}}
                </span>

                <span class="pull-right" *ngIf="cartItemsCounter === 1">Το καλάθι σου: {{cartItemsCounter}} προιόν</span>
                <span class="pull-right" *ngIf="cartItemsCounter > 1">Το καλάθι σου: {{cartItemsCounter}} προιόντα</span>




              </h5>
          </div>


        </div>


        <div class="table-responsive">
          <table class="table table-shopping">
            <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-right">Κατηγορία</th>
              <th class="text-right">Ονομασία</th>
              <th class="text-right">Τιμή ανά Λίτρο</th>
              <th class="text-right">Απομένουν</th>
              <th class="text-right">Ποσότητα(Λίτρα)</th>

              <th class="text-right"></th>

              <th class="text-right">Σύνολο</th>
            </tr>
            </thead>
            <tbody>


              <tr *ngFor="let cartItem of cart.shopingCartItems">

                <td>
                  <div class="img-container">
                    <img src="assets/img/barrel.png" alt="barel">
                  </div>
                </td>
                <td class="td-number">
                  <small>
                    <strong>{{cartItem.categoryName}}</strong>
                  </small>
                </td>
                <td class="td-number">
                  <small>
                    <strong>{{cartItem.productName}}</strong>
                  </small>
                </td>

                <td class="td-price">
                  {{cartItem.price}} <small>&euro; / Λίτρο </small>
                </td>

                <td class="td-price">
                  <strong class="text-success">
                      {{cartItem.itemStockQuantityAtMommentOrderPlaced}}
                      Λίτρα
                  </strong>
                </td>

                <td class="td-number">
                  {{cartItem.orderProductQuantity}}
                  <div class="btn-group">
                    <button (click)="decreaseQuantity(cartItem)" class="btn btn-sm"> - </button>
                    <button (click)="increaseQuantity(cartItem)" class="btn btn-sm"> + </button>
                  </div>


                </td>

                <td class="order-button">
                  <button (click)="removeItem(cartItem)" class="btn btn-sm btn-icon btn-magnify btn-fill">
                    <i class="ti-trash"></i>
                    Απομάκρυνση
                  </button>

                </td>

                <td class="td-number">
                 {{cartItem.totalPrice}} <small>&euro;</small>
                </td>

              </tr>


              <tr>
                <td colspan="2"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="td-total">
                  Σύνολο
                </td>

                <td class="td-total">
                 {{cart.totalCartPrice | number : '1.2-2'}} &euro;
                </td>


              </tr>

              <tr>
                <td colspan="2"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="td-total">
                  <small>Συμπεριλαμβάνεται Φ.Π.Α 24%</small>
                </td>

                <td class="td-total">
                  <small>{{ cart.tax | number : '1.2-2'}} &euro;</small>
                </td>


              </tr>

              <tr class="tr-actions">
                <td colspan="6"></td>
                <td colspan="2" class="order-button text-right">
                  <button (click)="onContinueOrder()" type="button" class="btn btn-fill btn-lg">
                    <i class="fa fa-chevron-circle-right"></i>
                    Συνέχεια Παραγγελίας
                  </button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>

      <div class="col-md-10 text-center" *ngIf="cartItemsCounter === 0">

        <div class="section section-nude">
          <div class="container tim-container">

            <div class="row">
              <div class="col-md-12">
                <h3 class="text-warning">
                  Δεν έχετε προιόντα στο καλάθι σας
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>
