<div class="wrapper">


  <!-- ClientCommonHeaderWrapper GOES HERE -->
  <client-header-wrapper-selector></client-header-wrapper-selector>

  <div class="profile-content section">
    <div class="container container-tim">

      <!-- ClientProfileAvatar GOES HERE -->
      <client-profile-avatar-selector></client-profile-avatar-selector>

    </div>
  </div>


</div>

<div class="wrapper">

  <div class="section">
    <div class="container container-tim">

      <router-outlet></router-outlet>
      

    </div>
  </div>
</div>

