<body class="search">

  <div class="header-wrapper">

    <header-selector></header-selector>


    <div class="header"  style="background-image: url('assets/img/olive_oil_bg.jpg');">

      <div class="filter"></div>

      <div class="container text-center">

        <div class="row">

          <div class="col-md-8 col-sm-8">

            <hr>
            <h5 class="text-center haze-homepage-title">Ελαιόλαδο από όλη την Ελλάδα στην πόρτα σου με λίγα κλικ!</h5>
            <hr>
            <h1 class="text-left">
              <span class="haze-homepage-title">Παράγγειλε ελαιόλαδο online </span> <span class="haze-homepage-title-alt">σε 1’</span>
            </h1>

          </div>


          <div class="col-md-4 col-sm-4">

            <homepage-search-producers-selector></homepage-search-producers-selector>

          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="wrapper">

    <div class="main">

<!--
      <div class="container">
        <div class="row">
          CONTENT GOES HERE
        </div>
      </div>
-->

      <homepage-producers-on-the-map-selector></homepage-producers-on-the-map-selector>



      <div class="section text-center landing-section">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2>Ελαιόλαδο για όλα τα γούστα</h2>
              <h5>Το ελαιόλαδο του κάθε παραγωγού είναι διαθέσιμο με λίγα μόνο κλικ. Το μόνο που έχετε να κάνετε
                είναι να δοκιμάσετε τις μοναδικές γεύσεις του,
                και να ταξιδέψετε σε όλες της γωνιές της Ελλάδας μέσα από το μεράκι και την εμπειρία του κάθε παραγωγού.
              </h5>
              <br />
              <a href="#" class="btn btn-danger btn-fill">Ανακάλυψε το δικό σου ελαιόλαδο</a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <footer-selector></footer-selector>


</body>
