<div class="section section-gray">
  <div class="container">
    <h3 class="section-title">Find what you need</h3>
    <div class="row">
      <div class="col-md-3">
        <div class="card card-refine">
          <div class="panel-group" id="accordion" aria-multiselectable="true" aria-expanded="true">
            <div class="card-header card-collapse" role="tab" id="priceRanger">
              <h5 class="mb-0 panel-title">
                <a class="" data-toggle="collapse" data-parent="#accordion" href="#priceRange" aria-expanded="true" aria-controls="collapseOne">
                  Price Range
                  <i class="nc-icon nc-minimal-down"></i>
                </a>
              </h5>
            </div>
            <div id="priceRange" class="collapse show" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true">
              <div class="card-block">
                <div id="sliderDouble" class="slider slider-info noUi-target noUi-ltr noUi-horizontal noUi-background"></div>
              </div>
            </div>
            <div class="card-header card-collapse" role="tab" id="clothingGear">
              <h5 class="mb-0 panel-title">
                <a class="" data-toggle="collapse" data-parent="#accordion" href="#clothing" aria-expanded="true" aria-controls="collapseSecond">
                  Clothing
                  <i class="nc-icon nc-minimal-down"></i>
                </a>
              </h5>
            </div>
            <div id="clothing" class="collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <div class="checkbox">
                  <input id="checkbox1" type="checkbox" checked="">
                  <label for="checkbox1">
                    Blazers
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox2" type="checkbox">
                  <label for="checkbox2">
                    Casual Shirts
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox3" type="checkbox">
                  <label for="checkbox3">
                    Formal Shirts
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox4" type="checkbox">
                  <label for="checkbox4">
                    Jeans
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox5" type="checkbox">
                  <label for="checkbox5">
                    Polos
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox5" type="checkbox">
                  <label for="checkbox5">
                    Pyjamas
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox6" type="checkbox">
                  <label for="checkbox6">
                    Shorts
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox7" type="checkbox">
                  <label for="checkbox7">
                    Trousers
                  </label>
                </div>
              </div>
            </div>
            <div class="card-header card-collapse" role="tab" id="designer">
              <h5 class="mb-0 panel-title">
                <a class="" data-toggle="collapse" data-parent="#accordion" href="#refineDesigner" aria-expanded="true" aria-controls="collapseThree">
                  Designer
                  <i class="nc-icon nc-minimal-down"></i>
                </a>
              </h5>
            </div>
            <div id="refineDesigner" class="collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <div class="checkbox">
                  <input id="checkbox8" type="checkbox" checked="">
                  <label for="checkbox8">
                    All
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox9" type="checkbox">
                  <label for="checkbox9">
                    Acne Studio
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox10" type="checkbox">
                  <label for="checkbox10">
                    Alex Mill
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox11" type="checkbox">
                  <label for="checkbox11">
                    Alexander McQueen
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox12" type="checkbox">
                  <label for="checkbox12">
                    Alfred Dunhill
                  </label>
                </div><div class="checkbox">
                <input id="checkbox13" type="checkbox">
                <label for="checkbox13">
                  AMI
                </label>
              </div>
                <div class="checkbox">
                  <input id="checkbox14" type="checkbox">
                  <label for="checkbox14">
                    Berena
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox15" type="checkbox">
                  <label for="checkbox15">
                    Berluti
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox16" type="checkbox">
                  <label for="checkbox16">
                    Burberry Prorsum
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox17" type="checkbox">
                  <label for="checkbox17">
                    Calvin Klein
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox18" type="checkbox">
                  <label for="checkbox18">
                    Canali
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox19" type="checkbox">
                  <label for="checkbox19">
                    Club Monaco
                  </label>
                </div><div class="checkbox">
                <input id="checkbox20" type="checkbox">
                <label for="checkbox20">
                  Dolce & Gabbana
                </label>
              </div><div class="checkbox">
                <input id="checkbox21" type="checkbox">
                <label for="checkbox21">
                  Gucci
                </label>
              </div>
                <div class="checkbox">
                  <input id="checkbox22" type="checkbox">
                  <label for="checkbox22">
                    Kolor
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox23" type="checkbox">
                  <label for="checkbox23">
                    Lanvin
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox24" type="checkbox">
                  <label for="checkbox24">
                    Loro Piana
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox25" type="checkbox">
                  <label for="checkbox25">
                    Massimo Alba
                  </label>
                </div>
              </div>
            </div>

            <div class="card-header card-collapse" role="tab" id="color">
              <h5 class="mb-0 panel-title">
                <a class="" data-toggle="collapse" data-parent="#accordion" href="#colorMaker" aria-expanded="true" aria-controls="collapseTree">
                  Colour
                  <i class="nc-icon nc-minimal-down"></i>
                </a>
              </h5>
            </div>
            <div id="colorMaker" class="collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <div class="checkbox">
                  <input id="checkbox26" type="checkbox" checked="">
                  <label for="checkbox26">
                    All
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox27" type="checkbox">
                  <label for="checkbox27">
                    Black
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox28" type="checkbox">
                  <label for="checkbox28">
                    Blue
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox29" type="checkbox">
                  <label for="checkbox29">
                    Brown
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox30" type="checkbox">
                  <label for="checkbox30">
                    Gray
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox31" type="checkbox">
                  <label for="checkbox31">
                    Green
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox32" type="checkbox">
                  <label for="checkbox32">
                    Neutrals
                  </label>
                </div>
                <div class="checkbox">
                  <input id="checkbox33" type="checkbox">
                  <label for="checkbox33">
                    Purple
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end card -->
      </div>

      <div class="col-md-9">
        <div class="products">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="card card-product card-plain">
                <div class="card-image">
                  <a href="#paper-kit">
                    <img src="../assets/img/ecommerce/balmain_1.jpg" alt="Rounded Image" class="img-rounded img-responsive">
                  </a>
                  <div class="card-block">
                    <div class="card-description">
                      <h5 class="card-title">One Shoulder Dress</h5>
                      <p class="card-description">Dresses & Skirts</p>
                    </div>
                    <div class="price">
                      <h5>2.900 &euro;</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="card card-product card-plain">
                <div class="card-image">
                  <a href="#paper-kit">
                    <img src="../assets/img/ecommerce/balmain_2.jpg" alt="Rounded Image" class="img-rounded img-responsive">
                  </a>
                  <div class="card-block">
                    <div class="card-description">
                      <h5 class="card-title">Stretch-Knit Dress</h5>
                      <p class="card-description">Dresses & Skirts</p>
                    </div>
                    <div class="price">
                      <h5>1.700 &euro;</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="card card-product card-plain">
                <div class="card-image">
                  <a href="#paper-kit">
                    <img src="../assets/img/ecommerce/balmain_2.jpg" alt="Rounded Image" class="img-rounded img-responsive">
                  </a>
                  <div class="card-block">
                    <div class="card-description">
                      <h5 class="card-title">Chrystal Sheer Dress</h5>
                      <p class="card-description">Dresses & Skirts</p>
                    </div>
                    <div class="price">
                      <h5>1.500 &euro;</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="card card-product card-plain">
                <div class="card-image">
                  <a href="#paper-kit">
                    <img src="../assets/img/ecommerce/balmain_2.jpg" alt="Rounded Image" class="img-rounded img-responsive">
                  </a>
                  <div class="card-block">
                    <div class="card-description">
                      <h5 class="card-title">One Shoulder Dress</h5>
                      <p class="card-description">Dresses & Skirts</p>
                    </div>
                    <div class="price">
                      <h5>2.600 &euro;</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="card card-product card-plain">
                <div class="card-image">
                  <a href="#paper-kit">
                    <img src="../assets/img/ecommerce/balmain_8.jpg" alt="Rounded Image" class="img-rounded img-responsive">
                  </a>
                  <div class="card-block">
                    <div class="card-description">
                      <h5 class="card-title">Glass Beads Skirt</h5>
                      <p class="card-description">Dresses & Skirts</p>
                    </div>
                    <div class="price">
                      <h5>7.500 &euro;</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="card card-product card-plain">
                <div class="card-image">
                  <a href="#paper-kit">
                    <img src="../assets/img/ecommerce/balmain_8.jpg" alt="Rounded Image" class="img-rounded img-responsive">
                  </a>
                  <div class="card-block">
                    <div class="card-description">
                      <h5 class="card-title">Velvet Mini Dress</h5>
                      <p class="card-description">Dresses & Skirts</p>
                    </div>
                    <div class="price">
                      <h5>3.500 &euro;</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 offset-md-4">
              <button rel="tooltip" title="This is a morphing button" class="btn btn-round btn-outline-default" id="successBtn" data-toggle="morphing" data-rotation-color="gray">Load more...</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- section -->
