<!-- footer -->
<footer class="footer footer-black footer-big">
  <div class="container">
    <div class="row">
      <div class="col-md-2 text-center col-sm-3 col-xs-12">
        <h4>haze.gr</h4>
        <div class="social-area">
          <a class="btn btn-icon btn-facebook btn-fill">
            <i class="ti-facebook"></i>
          </a>
          <a class="btn btn-icon btn-twitter btn-fill">
            <i class="ti-instagram"></i>
          </a>
          <a class="btn btn-icon btn-google btn-fill">
            <i class="ti-google"></i>
          </a>
        </div>
      </div>
      <div class="col-md-9 col-md-offset-1 col-sm-9 col-xs-12">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="links">
              <ul class="uppercase-links stacked-links">
                <li>
                  <a routerLink="/" routerLinkActive="active">
                    Αρχικη
                  </a>
                </li>
                <li>
                  <a href="#">
                    Ποιοι Ειμαστε
                  </a>
                </li>
                <li>
                  <a href="#">
                    FAQs
                  </a>
                </li>
              </ul>

            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="links">
              <ul class="uppercase-links stacked-links">
                <li>
                  <a href="#">
                    Επικοινωνια
                  </a>
                </li>
                <li>
                  <a href="#">
                    Θεσεις Εργασιας
                  </a>
                </li>
                <li>
                  <a href="#">
                    Σχετικα με εμας
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="links">
              <ul class="uppercase-links stacked-links">
                <li>
                  <a href="#">
                    Πως Λειτουργει
                  </a>
                </li>
                <li>
                  <a href="#">
                    Ειστε πωλητης;
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="links">
              <ul class="stacked-links">
                <li>
                  <h4>13.723<br /> <small>Λογαριασμοί</small></h4>
                </li>
                <li>
                  <h4>55.234<br /> <small>Παραγγελίες</small></h4>
                </li>

              </ul>
            </div>
          </div>
        </div>
        <hr />
        <div class="copyright">
          <div class="pull-right">
            &copy; 2016 - {{nowDate | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by haze.gr
          </div>
          <div class="links pull-left">
            <ul>
              <li>
                <a href="#">
                  Όροι χρήσης
                </a>
              </li>
              |
              <li>
                <a href="#">
                  Πολιτική Απορρήτου
                </a>
              </li>
              |
              <li>
                <a href="#">
                  Πολιτική Προστασίας
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>
<!-- end footer areas -->
